@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root,
[data-theme="light"] {
  --color-red: #ff6666;
  --color-red-disabled: #ff000083;
  --color-gray-1: #555;
  --color-gray-2: #333;
  --color-gray-3: #fdfdfd83;
  --color-gray-4: #ffffff33;
  --color-gray-5: #999;
  --color-gray-6: #3C3C3C;
  --color-gray-7: #C3C3C3;
  --color-light-gray: #ffffffb3;
  --color-black-1: #242425;
  --color-black-2: #111;
  --color-black-3: #0000009d;
  --color-black-4: #000000e6;
  --color-black-5: #00000033;
  --color-black-6: #000000b3;
  --color-white: #fff;
  --color-purple: #622d93;
  --color-dark-blue: #434c5e;
}

:root {
  --bg-color: var(--color-black-1);
  --text-color: var(--color-white);
  --border-color: var(--color-gray-4);
  --shadow-color: var(--color-black-2);
  --switch-color: var(--color-black-2);
  --color-secondary: var(--color-gray-6);
  --game-hover: var(--color-light-gray);
}

[data-theme="light"] {
  --bg-color: var(--color-white);
  --text-color: var(--color-black-1);
  --border-color: var(--color-black-5);
  --shadow-color: var(--color-gray-5);
  --switch-color: var(--color-gray-5);
  --color-secondary: var(--color-gray-7);
  --game-hover: var(--color-black-6);
}

* {
  user-select: none;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
}

.fa-magnifying-glass {
  color: var(--text-color);
}

.is-center {
  display: flex;
  justify-content: center;
}

.header-center {
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.left-margin {
  margin: 0px 16px;
}

#uv-error {
  color: var(--color-red) !important;
  white-space: pre-wrap;
}

#uv-error-code {
  font-size: 12px;
  color: var(--text-color);
  font-family: "Courier New", Courier, monospace;
}

#uv-register-sw {
  color: var(--text-color);
  background: var(--color-gray-1);
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 16px 20px;
  line-height: 16px;
  display: none;
}

#uv-register-sw:active {
  background: var(--color-gray-2);
}

#uv-register-sw.show {
  display: block;
}

.logo {
  height: 150px;
}

.logo-wrapper .text {
  font-size: 75px;
  color: var(--text-color);
}

.logo-wrapper h1 {
  color: var(--text-color);
}

footer {
  margin-top: auto;
  width: 93%;
  align-self: center;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  bottom: 0;
  background: var(--bg-color);
  padding-left: 7%;
}

footer a,
footer span {
  margin: 0 15px;
  font-size: 15px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  transition: .5s;
}

footer a:hover {
  text-decoration: underline;
}

.desc p {
  width: 560px;
  color: var(--text-color);
}

input {
  background: none;
  font-family: inherit;
  padding: 0px 17px;
  height: 48px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 3px;
  outline: none;
  width: 350px;
  margin-top: 5px;
  border-radius: 50px;
  color: var(--text-color);
  transition: .5s;
  margin: auto;
}

input:focus {
  border: 1px solid var(--color-gray-3);
  border-radius: 6px;
  box-shadow: 2px 2px 8px var(--shadow-color);
}

input:focus:disabled {
  border-radius: 50px;
}

input:disabled {
  border: 1px solid var(--color-red-disabled);
  color: var(--color-red-disabled);
  cursor: not-allowed;
}

input:disabled::placeholder {
  color: var(--color-red-disabled);
}

input::placeholder {
  transition: .5s;
}

button {
  background: none;
  font-family: inherit;
  padding: 0px 17px;
  height: 48px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 3px;
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 5px;
  border-radius: 50px;
  color: var(--text-color);
  transition: .5s;
  cursor: pointer;
}

button:hover {
  border: 1px solid var(--color-gray-3);
  border-radius: 6px;
  box-shadow: 2px 2px 8px var(--shadow-color);
}

button:hover:disabled {
  border-radius: 50px;
}

button:disabled {
  border: 1px solid var(--color-red-disabled);
  color: var(--color-red-disabled);
  cursor: not-allowed;
}

.games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.game {
  border-radius: 10px;
  box-shadow: 2px 2px 8px var(--shadow-color);
  box-sizing: inherit;
  cursor: pointer;
  height: 200px;
  width: 200px;
  margin: 10px;
  position: relative;
  transition: .5s;
}

.game>img {
  width: 180px;
  height: 180px;
  padding: 10px;
  object-fit: cover;
}

.game>p {
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: -16.3px;
  position: absolute;
  width: 100%;
  background-color: var(--color-black-3);
  color: var(--color-white);
}

.game:hover {
  background-color: var(--game-hover);
}

.nav {
  display: flex;
  height: 70px;
  justify-content: left;
  overflow: hidden;
  transition: 0.5s;
  background-color: var(--bg-color);
  box-shadow: 2px 2px 8px var(--shadow-color);
}

.nav.is-sticky {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav-item {
  align-items: center;
  color: var(--text-color);
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-decoration: none;
  transition: .5s;
}

.nav-item:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  text-decoration: none;
}

.nav-item.is-active {
  background-color: var(--text-color);
  color: var(--bg-color);
  text-decoration: none;
}

.nav-logo {
  height: 50px;
  overflow: hidden;
  padding: 10px;
}

.nav-logo .logo {
  width: 50px;
  height: 50px;
}

.navbar-item.navbar-logo {
  padding-top: 0px;
}

.content {
  margin-left: 15px;
  margin-top: 20px;
}

.content.has-navbar {
  margin-top: 90px;
}

.not-bold {
  font-weight: normal;
}

.is-hidden {
  display: none;
}

.is-bold {
  font-weight: bold;
}

.ring-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid var(--color-secondary);
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: var(--color-purple);
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px var(--color-purple);
  box-shadow: 0 0 20px #00000080;
}

.ring-loader:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid var(--color-purple);
  border-right: 3px solid var(--color-purple);
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.ring-loader>span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.ring-loader>span:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--color-purple);
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px var(--color-purple);
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

.game-navigation {
  height: 80px;

}

.game-frame {
  width: 100%;
  height: calc(100vh - 180px);
}

.error {
  color: var(--color-red-disabled);
  font-size: 15px;
}

.gamenav-right {
  float: right;
}

.pageframe {
  height: 100vh;
  width: 100%;
}

.search-results {
  margin-top: 50px;
  min-height: 40px;
  width: 385px;
  opacity: 0;
  position: absolute;
  transition: 1.6s;
  box-shadow: 2px 2px 8px var(--shadow-color);
  background-color: var(--bg-color);
}

#uv-address:focus+.search-results {
  opacity: 1;
}

#uv-address:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-item {
  margin-top: calc(80px/6);
  font-weight: lighter;
  max-height: 80px;
}

.notifications {
  width: 20%;
  height: auto;
  position: absolute;
  z-index: 9999999999999999999999;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notifications > .notification {
  margin: auto;
  padding-bottom: 15px;
  padding-top: 15px;
  max-width: calc(20% - 30px);
}

.notifications > .notification.error {
  background: var(--color-red);
  opacity: 0.5;
  color: var(--text-color);
}