@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

:root {
  --navbar-height: 100px;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  background: #111;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

.fa-magnifying-glass {
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.header-center {
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.left-margin {
  margin: 0px 16px;
}

#uv-error {
  color: #ff6666 !important;
  white-space: pre-wrap;
}

#uv-error-code {
  font-size: 12px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

#uv-register-sw {
  color: white;
  background: #555555;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 16px 20px;
  line-height: 16px;
  display: none;
}

#uv-register-sw:active {
  background: #333333;
}

#uv-register-sw.show {
  display: block;
}

.logo {
  height: 150px;
}

.logo-wrapper .text {
  font-size: 75px;
  color: #fff;
}

.logo-wrapper h1 {
  color: white;
}

footer {
  margin-top: auto;
  width: 93%;
  align-self: center;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
}

footer a,
footer span {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

footer a {
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}

.desc p {
  width: 560px;
  color: rgba(253, 253, 253, 0.514);
}

input {
  background: none;
  font-family: inherit;
  padding: 0px 17px;
  height: 48px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  color: var(--text-color);
  border-radius: 3px;
  outline: none;
  width: 350px;
  margin-top: 5px;
  border-radius: 50px;
  color: #fff;
  transition: .5s;
}

input:focus {
  border: 1px solid rgba(253, 253, 253, 0.514);
  border-radius: 6px;
}

button {
  background: none;
  font-family: inherit;
  padding: 0px 17px;
  height: 48px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  color: var(--text-color);
  border-radius: 3px;
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 5px;
  border-radius: 50px;
  color: #fff;
  transition: .5s;
}

button:hover {
  border: 1px solid rgba(253, 253, 253, 0.514);
  border-radius: 6px;
}

.credit {
  border-radius: 10px;
  padding: 10px;
  display: block;
  border: #fff 1px solid;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.credit label {
  margin-left: auto;
  margin-right: 15px;
}

.credit a,
.credit label {
  color: white;
  text-decoration: underline;
  text-align: right;
}

.credit pre {
  display: none;
  width: 100%;
}

.credit label::after {
  content: "show license";
  cursor: pointer;
}

.credit input:checked+label::after {
  content: "hide license";
}

.credit input:checked~pre {
  display: block;
}

.games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.game {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.616);
  background: none;
  user-select: none;
  transition: 0.5s;
  object-fit: cover;
  object-position: center;
  width: 200px;
  height: 200px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-size-adjust: 100%;
  box-sizing: inherit;
}

.game>img {
  width: 180px;
  height: 180px;
  padding: 10px;
  user-select: none;
  transition: 0.5s;
  object-fit: cover;
  object-position: center;
  box-sizing: inherit;
}

.game>p {
  transition: 0.5s;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: -16.3px;
  right: 0px;
  position: absolute;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.9);
  color: white;
}

.game:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.616);
  background: #111;
  z-index: 100;
  height: var(--navbar-height);
}

.navbar-logo img {
  width: 80px;
  margin: auto;
  padding: 5px;
}

.navbar-item.is-right {
  float: right;
}

.navbar-item {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  font-size: 20px;
  vertical-align: middle;
}

.navbar-item:hover {
  background-color: #111;
}

.is-active {
  background-color: #c3e9ef;
}

.navbar-item.navbar-logo {
  padding-top: 0px;
}