@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

* {
  user-select: none;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  background: #111;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}

.fa-magnifying-glass {
  color: white;
}

.is-center {
  display: flex;
  justify-content: center;
}

.header-center {
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.left-margin {
  margin: 0px 16px;
}

#uv-error {
  color: #ff6666 !important;
  white-space: pre-wrap;
}

#uv-error-code {
  font-size: 12px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

#uv-register-sw {
  color: white;
  background: #555555;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 16px 20px;
  line-height: 16px;
  display: none;
}

#uv-register-sw:active {
  background: #333333;
}

#uv-register-sw.show {
  display: block;
}

.logo {
  height: 150px;
}

.logo-wrapper .text {
  font-size: 75px;
  color: #fff;
}

.logo-wrapper h1 {
  color: white;
}

footer {
  margin-top: auto;
  width: 93%;
  align-self: center;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  bottom: 0;
  background: #111;
  padding-left: 7%;
}

footer a,
footer span {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

footer a {
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}

.desc p {
  width: 560px;
  color: rgba(253, 253, 253, 0.514);
}

input {
  background: none;
  font-family: inherit;
  padding: 0px 17px;
  height: 48px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  color: var(--text-color);
  border-radius: 3px;
  outline: none;
  width: 350px;
  margin-top: 5px;
  border-radius: 50px;
  color: #fff;
  transition: .5s;
  margin: auto;
}

input:focus {
  border: 1px solid rgba(253, 253, 253, 0.514);
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.616);
}

input:focus:disabled {
  border-radius: 50px;
}

input:disabled {
  border: 1px solid rgba(255, 0, 0, 0.514);
  color: rgba(255, 0, 0, 0.514);
  cursor: not-allowed;
}

input:disabled::placeholder {
  color: rgba(255, 0, 0, 0.514);
}

input::placeholder {
  transition: .5s;
}

button {
  background: none;
  font-family: inherit;
  padding: 0px 17px;
  height: 48px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  color: var(--text-color);
  border-radius: 3px;
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 5px;
  border-radius: 50px;
  color: #fff;
  transition: .5s;
  cursor: pointer;
}

button:hover {
  border: 1px solid rgba(253, 253, 253, 0.514);
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.616);
}

button:hover:disabled {
  border-radius: 50px;
}

button:disabled {
  border: 1px solid rgba(255, 0, 0, 0.514);
  color: rgba(255, 0, 0, 0.514);
  cursor: not-allowed;
}

.credit {
  border-radius: 10px;
  padding: 10px;
  display: block;
  border: #fff 1px solid;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.credit label {
  margin-left: auto;
  margin-right: 15px;
}

.credit a,
.credit label {
  color: white;
  text-decoration: underline;
  text-align: right;
}

.credit pre {
  display: none;
  width: 100%;
}

.credit label::after {
  content: "show license";
  cursor: pointer;
}

.credit input:checked+label::after {
  content: "hide license";
}

.credit input:checked~pre {
  display: block;
}

.games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.game {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.616);
  background: none;
  user-select: none;
  transition: 0.5s;
  object-fit: cover;
  object-position: center;
  width: 200px;
  height: 200px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-size-adjust: 100%;
  box-sizing: inherit;
}

.game>img {
  width: 180px;
  height: 180px;
  padding: 10px;
  user-select: none;
  transition: 0.5s;
  object-fit: cover;
  object-position: center;
  box-sizing: inherit;
}

.game>p {
  transition: 0.5s;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: -16.3px;
  right: 0px;
  position: absolute;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.9);
  color: white;
}

.game:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.616);
  background: #111;
  z-index: 100;
  height: 100px;
}

.navbar-logo img {
  width: 80px;
  margin: auto;
  padding: 5px;
}

.navbar-item.is-right {
  float: right;
}

.navbar-item {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: auto;
  color: #fff;
  font-size: 20px;
  vertical-align: middle;
}

.navbar-item:hover {
  background-color: #111;
}

.is-active {
  background-color: #c3e9ef;
}

.navbar-item.navbar-logo {
  padding-top: 0px;
}

.content {
  margin-left: 15px;
  margin-top: 20px;
}

.not-bold {
  font-weight: normal;
}

.is-hidden {
  display: none;
}

.is-bold {
  font-weight: bold;
}

.ring-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #622d93;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #622d93;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.ring-loader:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #622d93;
  border-right: 3px solid #622d93;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.ring-loader > span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.ring-loader > span:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #622d93;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #622d93;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

.game-navigation {
  height: 80px;

}

.game-frame {
  width: 100%;
  height: calc(100vh - 180px);
}

.error {
  color: rgba(255, 0, 0, 0.514);
  font-size: 15px;
}

.gamenav-right {
  float: right;
}

.pageframe {
  height: 100vh;
  width: 100%;
}

.search-results {
  margin-top: 50px;
  min-height: 40px;
  width: 385px;
  opacity: 0;
  position: absolute;
  transition: 1.6s;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.616);
  background-color: #111;
}

#uv-address:focus + .search-results {
  opacity: 1;
}

#uv-address:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-item {
  margin-top: calc(80px/6);
  font-weight: lighter;
  max-height: 80px;
}