.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgb(255, 255, 255, 0.2);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    margin-bottom: -1px;
}

input[type=checkbox]:checked + .slider {
    background-color: #fff;
}

input[type=checkbox]:focus + .slider {
    box-shadow: 0 0 1px #434c5e;
}

input[type=checkbox]:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: #111;
}

input[type=checkbox]:disabled + .slider {
    border: 1px solid rgba(255, 0, 0, 0.514);
    cursor: not-allowed;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}